/******* Bootstrap Theming ********/

$primary: #E45F4E;
$secondary: #262626;
$light: #ffffff;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "light": $light,
);

$font-family-sans-serif: 'Raleway', sans-serif;

$headings-font-family: 'Roboto', sans-serif;

$body-bg: $light;

$body-color: #848484;

$headings-color: #262626;

$enable-responsive-font-sizes: true;

$enable-rounded: false;

$enable-shadows: false;

@import "https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap";

@import "bootstrap/scss/bootstrap";


/********** Custom CSS ************/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700 !important;
    text-transform: uppercase;
}

[class^=flaticon-]:before,
[class*=" flaticon-"]:before,
[class^=flaticon-]:after,
[class*=" flaticon-"]:after {
    font-size: inherit;
    margin-left: 0;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 11;
    -webkit-animation: action 1s infinite alternate;
    animation: action 1s infinite alternate;
}

@-webkit-keyframes action {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-15px);
    }
}

@keyframes action {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-15px);
    }
}

.container-fluid.nav-bar {
    position: absolute;
    z-index: 9;
}

@media (max-width: 991.98px) {
    .container-fluid.nav-bar {
        position: relative;
        background: $secondary;
    }
}

.navbar-dark .navbar-nav .nav-link {
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    color: $light;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: $primary;
}

.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .3);
    z-index: 1;
}

@media (max-width: 991.98px) {
    .feature .feature-item {
        border: none !important;
    }
}

@media (min-width: 992px) {
    .feature .feature-item {
        min-height: 300px;
    }
}

.testimonial-text::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    bottom: -20px;
    left: 30px;
    border: 10px solid;
    border-color: $light transparent transparent transparent;
    z-index: 2;
}

.testimonial-text::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    bottom: -24px;
    left: 28px;
    border: 12px solid;
    border-color: #dee2e6 transparent transparent transparent;
    z-index: 1;
}

.testimonial-carousel .owl-dots {
    margin-top: 25px;
    text-align: center;
}

.testimonial-carousel .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background: #dddddd;
}

.testimonial-carousel .owl-dot.active {
    background: $primary;
}

.contact-form .help-block ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

@media (max-width: 767.98px) {
    .contact-form {
        margin: 30px 0 45px 0;
    }
}

@media (min-width: 768px) {
    .contact-form {
        max-width: 700px;
        margin: -150px auto 15px auto;
        padding: 30px;
    }
}